<%= link_to "Pets at #{@shelter.name}", "/shelters/#{@shelter.id}/pets" %>
<h1><%= @shelter.name %></h1>
<p>
  <%= @shelter.address %><br/>
  <%= @shelter.city %>,
  <%= @shelter.state %>
  <%= @shelter.zip %>
</p>
<%= link_to 'Edit', "/shelters/#{@shelter.id}/edit" %>
<%= button_to 'Delete', "/shelters/#{@shelter.id}", method: :delete %>
